torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
pytorch-lightning==2.5.0.post0
numpy==1.26.4
mediapipe==0.10.21
opencv-contrib-python==4.11.0.86
scikit-image==0.25.2
sentencepiece==0.2.0
av==13.1.0
ffmpeg-python==0.2.0
imageio-ffmpeg==0.6.0
gdown==5.2.0
